body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #e0dde7;
}

.container {
  display: grid;
  grid-template-areas:
    "menu"
    "main"
    "footer";
}

menu {
  grid-area: menu;
  background-color: #c09d2c;
  margin: 0;
  height: 80px;
  display: grid;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  background-color: #fff;
}

/**************************************************************************************************************************************/

/* Menu */

.navbar {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.box-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.box-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 25px;
}

.letter {
  transition: 0.6s;
  transform: translateX(0);
  cursor: grab;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.letter:hover {
  transform: translateY(-0.5rem);
  background: -webkit-linear-gradient(
    120deg,
    hsl(226, 48%, 46%),
    hsl(228, 50%, 48%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.nav-input:checked + .nav-menu{
  background: tomato;
}

.nav-menu{
  
  display: grid;
  grid-auto-flow: column;
  gap: 3em;
}

.nav-item{
  color: #fff;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.nav-item::after{
  content: "";
  display: block;
  background: #fff;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path .5s;
}

.nav-item:hover{
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


.nav-label, .nav-input{
  display: none;
}


/**************************************************************************************************************************************/

/* Main */

/*******************************************************************/

/* Galeria */

.title-galeria h1{
    font-size: 45px;
    text-align: center;
}

.galeria-area {
  background-color: #e0dde7;
  padding: 15px;
}

.galeria {
  display: flex;
  height: 20rem;
  gap: 1rem;
}
.galeria > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.9s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.galeria > div:hover {
  flex: 5;
}

/*******************************************************************/
/*Product*/

.product-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 20px;
  background-color: #e0dde7;
}

.product-area h1 {
  font-size: 45px;
}

.card-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  display: grid;
  grid-template-areas: "auto auto auto auto";
  gap: 20px;
  
}

.box-card {
  width: 200px;
  height: 350px;
  padding: 15px;
  border: #c09d2c 6px solid;
  border-radius: 2.25em;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s ease-in-out;
}

.box-card:hover{
  transform: scale(1.1);
}

.box-img img {
  width: 200px;
  height: 250px;
  border-radius: 1.25em;
}

.box-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-info-card p {
  margin: 0;
  padding: 8px;
}

.box-info-card button {
  border: 0;
  background-image: linear-gradient(150deg, #9500ff, #09f, #00ddff);
  border-radius: 8px;
  color: #fff;
  display: flex;
  font-size: 14px;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.box-info-card button span {
  background-color: #111;
  padding: 16px 24px;
  border-radius: 6px;
  transition: 0.3s;
}

.box-info-card button:hover span {
  background: none;
}

.box-info-card button:active {
  transform: scale(0.9);
}

/**************************************************************************************************************************************/

/* Footer*/


.button-rrss{
    min-width: 700px;
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 35px;
}

.button-rrss a{
    text-decoration: none;
    font-size: 28px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    transition: all .4s ease-in-out;
}

.button-rrss a:hover{
    transform: scale(1.2);
}



/**************************************************************************************************************************************/

/* Vista Mobile */

@media (max-width: 680px) {

  .container {
    display: grid;
    grid-template-areas:
      "menu"
      "main"
      "footer";
      transition: 1s;
  }

  /**************************************************************************************************************************************/

  /* Menu */
  
  .nav-label{
    display: block;
    cursor: pointer;
    font-size: 25px;
    color: white;
}
  }

  .nav-menu{
    position: fixed;
    top: 80px;
    bottom: 0;
    background: tomato;
    width: 40%;
    height: 40%;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    border-bottom-left-radius: 0.75em;
    border-bottom-right-radius: 0.75em;
    transition: clip-path 1s ease-in-out;
  }

  .nav-input:checked + .nav-menu{
    clip-path: circle(100% at center);
  }




  /**************************************************************************************************************************************/

 /*Main */

 main{
  width: 100%;
 }

 .card-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  grid-template-areas: "auto auto ";
  gap: 20px;
  
}




 /**************************************************************************************************************************************/

  footer{
    width: 100%;
  }
}
